@{
    ViewBag.Title = "About TE Error Log";
}
<h2>@ViewBag.Title.</h2>
<p>
    <br />
    <br />
    <br />
</p>
<p>
    ThirdEye Data is teeming with resources who are enriched with enormous knowledge at various domains.<br />
    Many of us know quite a few cutting edge technologies about which all are not even aware of.<br />
    At many stages in our daily work life, we face some issues about which another employee may be aware of and consequently will be able to solve the issue.<br />
    But it may happen that one is not even aware that another resource knows the technology or, may help to resolve the issue.<br />
    So this is a little common space to share your error / glitch so that another resource may come accross your issue and solve it.<br />
</p>
