@{
    ViewBag.Title = "Contact Info";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    Third Eye Data Analytics Services India Limited<br />
    Webel More- Block GN, Plot 37/2,<br />
    Block D, 8th Floor, Victoria Park<br />
    Sector V, Saltlake<br />
    <abbr title="Phone">P:</abbr>
    033 4055 8126
</address>



<address>
    <strong>Support:</strong>   <a href="mailto:moyukh@thirdeyedata.io">Support@thirdeyedata.io</a><br />
    <strong>Marketing:</strong> <a href="mailto:moyukh@thirdeyedata.io">Marketing@thirdeyedata.io</a>
</address>