@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ThirdEye Error Log</h1>
    <p class="lead">Begin Sharing Your Erratum With All </p>
</div>

<div class="row">
    <div class="col-md-9">
        <p>
            <h4>A central repository of your errors so that someone can help you out.</h4>
            <h4>Lets's start sharing and increase productivity .</h4>
        </p>
    </div>
</div>